
@font-face {
    /*//-fx-font-family:pleated;*/
    src:url("pixelated.ttf");
}

/*#playButton{
    -fx-font-family:pleated;
}*/

.button {
    -fx-background-color:transparent;
    -fx-font-family: "pixelated";
    -fx-font-size:50px;
    -fx-text-fill:"WHITE"; 
    -fx-text-stroke: red;
    
}

.label {
    -fx-background-color:transparent;
    -fx-font-family: "pixelated";
    -fx-font-size:50px;
    -fx-text-fill:"WHITE"; 
    -fx-text-stroke: red;
    
}


.button:hover{
	-fx-text-fill:"GREEN";
	-fx-font-size:70px;
	-fx-cursor:hand;
}

.button:pressed{
	-fx-text-fill:"RED";
	
}

